Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

feat(perftool): check empty exportsNames, using babelCore,traverse, exported babel config
  packages/perftool/src/build/collect.ts
  packages/perftool/src/config/babelOptions.ts
  packages/perftool/src/config/common.ts
  packages/perftool/src/config/transpiler.ts
  packages/perftool/src/config/webpack.ts
  packages/perftool/src/index.ts
  packages/perftool/src/utils/ast.ts
  packages/perftool/src/utils/traverseExport.ts
  spec/main-suite/perftool.config.mts
Due: eslint --fix, prettier --write

feat(perftool): use (os.cpus - 1) as default jobs number
  packages/perftool/lib/config/common.ts
Due: eslint --fix, prettier --write

feat(main-suite): use default jobs number
  spec/main-suite/perftool.config.mts
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

ci: add bad typescript integration test
  .github/workflows/integration.yml
  spec/main-suite/start.sh
Due: yamllint

build(perftool): use typescript as prod dependency
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

feat(perftool): use perftool dir as CWD, manually use original CWD internally
  packages/perftool/lib/build/collect.ts
  packages/perftool/lib/build/entrypoint.ts
  packages/perftool/lib/compare/index.ts
  packages/perftool/lib/config/index.ts
  packages/perftool/lib/config/node.ts
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/reporter/index.ts
  packages/perftool/lib/utils/cwd.ts
  packages/perftool/lib/utils/subjectId.ts
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
Due: eslint --fix, prettier --write

fix: early exit if no tests presented
  packages/perftool/lib/index.ts
Due: eslint --fix, prettier --write

fix: conditionally show script contents on start
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
Due: none

ci: no integration testing run on master branch
  .github/workflows/integration.yml
Due: yamllint

feat(perftool): add cache for task state, cache management
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/cache/index.ts
  packages/perftool/lib/client/measurement/tasks/render.tsx
  packages/perftool/lib/client/measurement/tasks/rerender.tsx
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/index.ts
  packages/perftool/lib/config/paths.ts
  packages/perftool/lib/controller/__spec__/executor.test.ts
  packages/perftool/lib/controller/__spec__/index.test.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/controller/index.ts
  packages/perftool/lib/index.ts
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

feat(main-suite): use cache, update gitignore
  spec/main-suite/.gitignore
  spec/main-suite/perftool.config.mts
Due: none

fix(perftool): use wait factor only once
  packages/perftool/lib/client/measurement/tasks/render.tsx
  packages/perftool/lib/client/measurement/tasks/rerender.tsx
  packages/perftool/lib/client/measurement/types.ts
  packages/perftool/lib/controller/executor.ts
Due: eslint --fix, prettier --write

feat(perftool): add preview mode
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/clientEntry.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/index.ts
  packages/perftool/lib/preview/components/ColorPicker.tsx
  packages/perftool/lib/preview/components/Preview.tsx
  packages/perftool/lib/preview/components/Root.tsx
  packages/perftool/lib/preview/components/Selector.tsx
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/utils/createContainer.ts
  packages/perftool/lib/utils/interrupt.ts
  packages/perftool/lib/utils/openBrowser.ts
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

fix(main-suite): fix test component appearance
  spec/main-suite/src/components/TestComponent.tsx
Due: eslint --fix, prettier --write

build: add dependabot configuration
  .github/dependabot.yml
Due: yamllint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  yamllint: any of: *.{yml,yaml}
