Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

test: add integration test
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  spec/main-suite/.gitignore
  spec/main-suite/CHANGELOG.md
  spec/main-suite/index.test.ts
  spec/main-suite/jest.config.mjs
  spec/main-suite/package.json
  spec/main-suite/perftool.config.mts
  spec/main-suite/src/components/Components.perftest.tsx
  spec/main-suite/src/components/TestComponent.tsx
  spec/main-suite/start.sh
  spec/main-suite/tsconfig.jest.json
  spec/main-suite/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

test(perftool): fix unit tests
  packages/perftool/src/utils/__spec__/react.test.ts
  packages/perftool/src/utils/react.ts
  packages/perftool/tsconfig.jest.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(main-suite): fix test scripts
  spec/main-suite/package.json
Due: prettier --write --parser json

fix(perftool): retry on strange puppeteer error
  packages/perftool/src/controller/executor.ts
Due: eslint --fix, prettier --write

ci: add integration testing
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: yamllint

ci: fix integration job
  .github/workflows/checks.yml
Due: yamllint

feat(perftool): add bootstrap scripts, use ts-node, fix compatibility
  packages/perftool/package.json
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
  packages/perftool/src/compare/index.ts
  packages/perftool/src/config/node.ts
  packages/perftool/src/config/webpack.ts
  packages/perftool/src/index.ts
  packages/perftool/src/typings/window.d.ts
  packages/perftool/src/utils/react.ts
  packages/perftool/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json

test: fix integration
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
Due: none

build(perftool): update puppeteer
  packages/perftool/package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

feat(main-suite): add npm suite
  spec/main-suite/package.json
Due: prettier --write --parser json

ci: separate integration tests
  .github/workflows/checks.yml
  .github/workflows/integration.yml
Due: yamllint

test: add compatibility test for npm, add bad ts-node in project test
  .github/workflows/integration.yml
Due: yamllint

build: update pnpm version
  package.json
Due: prettier --write --parser json

fix(perftool): fix react 16,17 compatibility
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
  packages/perftool/src/client/index.ts
  packages/perftool/src/client/measurement/runner.ts
  packages/perftool/src/clientEntry.ts
  packages/perftool/src/config/webpack.ts
  packages/perftool/src/utils/__spec__/react.test.ts
  packages/perftool/src/utils/react.ts
Due: eslint --fix, prettier --write

feat(perftool): add task state, add/fix tests
  packages/perftool/lib/client/__spec__/index.test.ts
  packages/perftool/lib/client/__spec__/input.test.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/client/input.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/client/measurement/tasks/render.tsx
  packages/perftool/lib/client/measurement/tasks/rerender.tsx
  packages/perftool/lib/client/measurement/types.ts
  packages/perftool/lib/controller/__spec__/clientScript.test.ts
  packages/perftool/lib/controller/__spec__/executor.test.ts
  packages/perftool/lib/controller/clientScript.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/typings/window.d.ts
Due: eslint --fix, prettier --write

feat(main-suite): add perftest dir to gitignore, shorten preparation, fix perftool config
  spec/main-suite/.gitignore
  spec/main-suite/perftool.config.mts
  spec/main-suite/start.sh
Due: none

test(perftool): add ast tree for exports name
  packages/perftool/package.json
  packages/perftool/src/build/collect.ts
  pnpm-lock.yaml
  spec/main-suite/perftool.config.mts
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

fix(perftool): --no-sandbox to run as root
  packages/perftool/lib/controller/__spec__/__snapshots__/executor.test.ts.snap
  packages/perftool/lib/controller/executor.ts
Due: eslint --fix, prettier --write

test(perftool): component testing will not run if exports names are not found
  packages/perftool/src/build/collect.ts
  packages/perftool/src/index.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  yamllint: any of: *.{yml,yaml}
