Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

feat(perftool): turns off unneccessary metrics
  packages/perftool/lib/config/metric.ts
  spec/main-suite/index.test.ts
Due: eslint --fix, prettier --write

feat(perftool): visual report
  packages/perftool/lib/bin/compare.ts
  packages/perftool/lib/bin/perftool.ts
  packages/perftool/lib/build/entrypoint.ts
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/client/entry.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/metric.ts
  packages/perftool/lib/config/paths.ts
  packages/perftool/lib/config/task.ts
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Components.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Layout.tsx
  packages/perftool/lib/reporter/htmlReporter/components/NavigationBar.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Raw.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Root.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Summary.tsx
  packages/perftool/lib/reporter/htmlReporter/components/common.ts
  packages/perftool/lib/reporter/htmlReporter/data.ts
  packages/perftool/lib/reporter/htmlReporter/entry.tsx
  packages/perftool/lib/reporter/htmlReporter/index.ts
  packages/perftool/lib/utils/ErrorBoundary.tsx
  packages/perftool/package.json
  packages/perftool/scripts/start-compare.sh
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

build(perftool): update pkgs
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

fix(perftool): visual report old modes existence check
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/metric.ts
  packages/perftool/lib/reporter/htmlReporter/components/Components.tsx
  packages/perftool/lib/utils/assert.ts
Due: eslint --fix, prettier --write

feat(perftool): intercept FakeResponseType as string literal & export component type
  packages/perftool/lib/api/intercept.ts
  packages/perftool/lib/client/input.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/index.ts
  packages/perftool/lib/utils/types.ts
Due: eslint --fix, prettier --write

ci: weekly dependabot updates
  .github/dependabot.yml
Due: yamllint

feat(perftool): significance threshold
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/statistics/comparators.ts
  packages/perftool/lib/statistics/types.ts
Due: eslint --fix, prettier --write

build(perftool): upd packages
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

feat(perftool): update deps, add more verbose timeout error
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/perftool/lib/api/intercept.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  yamllint: any of: *.{yml,yaml}
