Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint, prettier --write --parser markdown, prettier --write --parser json, yamllint

chore: update readme
  README.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
Due: prettier --write --parser markdown

Bump version to: 0.3.7 [skip ci]
  package-lock.json
  package.json
Due: prettier --write --parser json

Bump version to: 0.3.8 [skip ci]
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: fix release workflow [skip ci]
  .github/workflows/release.yml
Due: yamllint

test: add more unit tests, cr changes
  src/client/__spec__/index.test.ts
  src/client/__spec__/input.test.ts
  src/controller/__spec__/clientScript.test.ts
  src/utils/__spec__/hash.test.ts
  src/utils/__spec__/waitForIdle.test.ts
  tsconfig.jest.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat: new config import, fix build, deep merge configs, misc package cleanup
  .lintstagedrc
  package-lock.json
  package.json
  src/build/collect.ts
  src/build/entrypoint.ts
  src/build/index.ts
  src/client/index.ts
  src/client/input.ts
  src/client/measurement/runner.ts
  src/client/measurement/tasks/rerender.tsx
  src/clientEntry.ts
  src/compare/index.ts
  src/compare/process.ts
  src/config/common.ts
  src/config/node.ts
  src/config/webpack.ts
  src/controller/controller.ts
  src/controller/executor.ts
  src/index.ts
  src/stabilizers/staticTask.tsx
  src/statistics/comparators.ts
  src/utils/__spec__/assert.test.ts
  src/utils/assert.ts
  src/utils/stabilizers.ts
  src/utils/waitForIdle.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint, prettier --write --parser json

Bump version to: 0.3.9 [skip ci]
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: bumps node version
  .nvmrc
  package.json
Due: prettier --write --parser json

build: update packages, widen node version range
  .eslintrc
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: update workflows
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: yamllint

feat: print version
  src/index.ts
Due: eslint --fix, prettier --write

Bump version to: 0.3.10 [skip ci]
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: get rid of pnpm
  .github/workflows/checks.yml
  .github/workflows/release.yml
  .gitignore
  lerna.json
  package-lock.json
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --parser json, yamllint

docs: add changelog
  CHANGELOG.md
Due: prettier --write --parser markdown

build: get back to pnpm
  .github/workflows/checks.yml
  .github/workflows/release.yml
  .gitignore
  lerna.json
  package-lock.json
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write --parser json, yamllint

feat(perftool): test release
  packages/perftool/src/client/index.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
Due: prettier --write --parser json

test: fix integration
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
Due: none

ci: fix integration job
  .github/workflows/checks.yml
Due: yamllint

build(perftool): update puppeteer
  packages/perftool/package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

fix(perftool): retry on strange puppeteer error
  packages/perftool/src/controller/executor.ts
Due: eslint --fix, prettier --write

ci: add integration testing
  .github/workflows/checks.yml
  .github/workflows/release.yml
Due: yamllint

feat(perftool): add bootstrap scripts, use ts-node, fix compatibility
  packages/perftool/package.json
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
  packages/perftool/src/compare/index.ts
  packages/perftool/src/config/node.ts
  packages/perftool/src/config/webpack.ts
  packages/perftool/src/index.ts
  packages/perftool/src/typings/window.d.ts
  packages/perftool/src/utils/react.ts
  packages/perftool/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json

fix(main-suite): fix test scripts
  spec/main-suite/package.json
Due: prettier --write --parser json

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  stylelint: any of: *.{jsx,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  yamllint: any of: *.{yml,yaml}
