Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json"
    ],
    "*.{yml,yaml}": [
        "yamllint"
    ]
}

build: update monorepo deps, set license in package.json
  .eslintrc
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

ci: add node 20 to integration testing
  .github/workflows/integration.yml
Due: yamllint

build(perftool): update deps, add license to package
  packages/perftool/LICENSE
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/utils/__spec__/waitForIdle.test.ts
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

feat(perftool): add test subject deps caching
  .eslintrc
  packages/perftool/lib/build/entrypoint.ts
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/cache/index.ts
  packages/perftool/lib/client/__spec__/index.test.ts
  packages/perftool/lib/client/__spec__/input.test.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/client/input.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/client/measurement/tasks/rerender.tsx
  packages/perftool/lib/clientEntry.ts
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/controller/__spec__/__snapshots__/executor.test.ts.snap
  packages/perftool/lib/controller/__spec__/index.test.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/controller/planner.ts
  packages/perftool/lib/index.ts
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/reporter/index.ts
  packages/perftool/lib/stabilizers/staticTask.tsx
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/utils/react.ts
  packages/perftool/lib/utils/subjectDeps.ts
  spec/main-suite/perftool.config.mts
Due: eslint --fix, prettier --write

feat(perftool): add comments, fix config, add client error handling
  packages/perftool/lib/build/entrypoint.ts
  packages/perftool/lib/clientEntry.ts
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/metric.ts
  packages/perftool/lib/config/task.ts
  packages/perftool/lib/controller/__spec__/executor.test.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/controller/planner.ts
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/typings/window.d.ts
  packages/perftool/lib/utils/ErrorBoundary.tsx
  packages/perftool/lib/utils/__spec__/react.test.ts
  packages/perftool/lib/utils/react.ts
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

ci: fix release [skip ci]
  .prettierignore
Due: none

feat(perftool): release bump
  .prettierignore
Due: none

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

build: update pkgs
  package.json
  packages/perftool/lib/utils/__spec__/checkPath.test.ts
  packages/perftool/lib/utils/__spec__/waitForIdle.test.ts
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

feat(perftool): support beforeTest in preview mode
  packages/perftool/lib/clientEntry.ts
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/index.ts
  packages/perftool/lib/preview/components/Root.tsx
  packages/perftool/lib/preview/controller.ts
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/typings/window.d.ts
  packages/perftool/lib/utils/puppeteer.ts
Due: eslint --fix, prettier --write

refactor: build external api modules
  .eslintignore
  .prettierignore
  packages/perftool/.gitignore
  packages/perftool/lib/bin/compare.ts
  packages/perftool/lib/bin/perftool.ts
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/client/entry.ts
  packages/perftool/package.json
  packages/perftool/scripts/start-compare.sh
  packages/perftool/scripts/start.sh
  packages/perftool/tsconfig.build.json
  packages/perftool/tsconfig.json
Due: eslint --fix, prettier --write, prettier --write --parser json

refactor: after-move stuff
  packages/perftool/lib/index.ts
Due: eslint --fix, prettier --write

refactor(perftool): trigger release
  packages/perftool/README.md
Due: prettier --write --parser markdown

feat(perftool): update pkgs, trigger release
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

fix(perftool): remove exports, fix mandatory extension specification for (m)js modules
  packages/perftool/lib/config/webpack.ts
  packages/perftool/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json

feat(perftool): add viewport api
  packages/perftool/lib/api/external.ts
  packages/perftool/lib/api/intercept.ts
  packages/perftool/lib/api/viewport.ts
  packages/perftool/lib/controller/__spec__/executor.test.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/index.ts
  packages/perftool/lib/preview/controller.ts
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/typings/window.d.ts
Due: eslint --fix, prettier --write

fix(perftool): switch components in preview mode
  packages/perftool/lib/api/intercept.ts
  packages/perftool/lib/controller/clientScript.ts
  packages/perftool/lib/preview/controller.ts
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/typings/window.d.ts
Due: eslint --fix, prettier --write

build(perftool): update pkgs
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint
