Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

feat(perftool): add verbose, quiet flags, fix intermediate calcs timing
  packages/perftool/lib/bin/compare.ts
  packages/perftool/lib/bin/perftool.ts
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/utils/cli.ts
Due: eslint --fix, prettier --write

feat(perftool): new metrics
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/metric.ts
  packages/perftool/lib/statistics/metrics.ts
Due: eslint --fix, prettier --write

build(perftool): up packages
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

ci: expose integration artifacts
  .github/workflows/integration.yml
Due: yamllint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

"Bump independent versions [skip ci]"
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

feat(perftool): misc
  packages/perftool/lib/api/external.ts
  packages/perftool/lib/api/viewport.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/client/input.ts
  packages/perftool/lib/client/measurement/types.ts
  packages/perftool/lib/controller/__spec__/clientScript.test.ts
  packages/perftool/lib/controller/__spec__/executor.test.ts
  packages/perftool/lib/controller/clientScript.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/src/components/Components.perftest.tsx
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

build(perftool): up packages
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

feat(perftool): outlier detection
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/utils/outlierDetection.ts
  packages/perftool/lib/utils/statistics.ts
Due: eslint --fix, prettier --write

build(perftool): up packages
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

feat(perftool): collaborative mode, remove 'open'
  packages/perftool/lib/bin/compare.ts
  packages/perftool/lib/bin/perftool.ts
  packages/perftool/lib/build/entrypoint.ts
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/controller/__spec__/executor.test.ts
  packages/perftool/lib/controller/__spec__/index.test.ts
  packages/perftool/lib/controller/__spec__/planner.test.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/controller/index.ts
  packages/perftool/lib/controller/planner.ts
  packages/perftool/lib/reporter/index.ts
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/utils/ci.ts
  packages/perftool/lib/utils/cli.ts
  packages/perftool/lib/utils/decorateErrorWithTestParams.ts
  packages/perftool/lib/utils/ipc.ts
  packages/perftool/lib/utils/logger.ts
  packages/perftool/lib/utils/openBrowser.ts
  packages/perftool/lib/utils/subjectDeps.ts
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

test(main-suite): collaborative mode
  .github/workflows/integration.yml
  spec/main-suite/package.json
  spec/main-suite/slowdown.mjs
  spec/main-suite/src/components/Components.perftest.tsx
  spec/main-suite/touch.mjs
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

build(perftool): update pkgs
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

feat(perftool): add mode analysis
  CONTRIBUTING.md
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/statistics/metrics.ts
  packages/perftool/lib/statistics/types.ts
  packages/perftool/lib/utils/statistics.ts
  spec/main-suite/index.test.ts
  spec/main-suite/package.json
  spec/main-suite/perftool.config.mts
Due: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json

build(perftool): update packages
  package.json
  packages/perftool/lib/controller/__spec__/__snapshots__/executor.test.ts.snap
  packages/perftool/lib/controller/executor.ts
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

fix(perftool): always write report
  packages/perftool/lib/bin/perftool.ts
  packages/perftool/lib/reporter/index.ts
Due: eslint --fix, prettier --write

build(perftool): update packages
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

feat(perftool): visual report
  packages/perftool/lib/bin/compare.ts
  packages/perftool/lib/bin/perftool.ts
  packages/perftool/lib/build/entrypoint.ts
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/client/entry.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/metric.ts
  packages/perftool/lib/config/paths.ts
  packages/perftool/lib/config/task.ts
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Components.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Layout.tsx
  packages/perftool/lib/reporter/htmlReporter/components/NavigationBar.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Raw.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Root.tsx
  packages/perftool/lib/reporter/htmlReporter/components/Summary.tsx
  packages/perftool/lib/reporter/htmlReporter/components/common.ts
  packages/perftool/lib/reporter/htmlReporter/data.ts
  packages/perftool/lib/reporter/htmlReporter/entry.tsx
  packages/perftool/lib/reporter/htmlReporter/index.ts
  packages/perftool/lib/utils/ErrorBoundary.tsx
  packages/perftool/package.json
  packages/perftool/scripts/start-compare.sh
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  yamllint: any of: *.{yml,yaml}
