Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

feat(perftool): use readable name in preview mode
  packages/perftool/lib/build/index.ts
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/preview/components/Selector.tsx
  packages/perftool/lib/preview/index.tsx
  packages/perftool/lib/reporter/index.ts
  packages/perftool/lib/utils/subjectId.ts
Due: eslint --fix, prettier --write

build(perftool): update pkgs
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

build(perftool): update packages
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

ci: npx -> pnpm exec
  .github/workflows/checks.yml
  .github/workflows/release.yml
  .husky/pre-commit
  package.json
Due: prettier --write --parser json, yamllint

docs(perftool): README, issue templates, PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  package.json
  packages/perftool/README.md
  packages/perftool/package.json
Due: prettier --write --parser markdown, prettier --write --parser json

feat(perftool): use stabilizers by default
  packages/perftool/lib/config/common.ts
Due: eslint --fix, prettier --write

docs: fix readme
  README.md
Due: prettier --write --parser markdown

build(perftool): update packages
  packages/perftool/package.json
Due: prettier --write --parser json

build(main-suite): update packages
  spec/main-suite/package.json
Due: prettier --write --parser json

build: update packages, lockfile
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

feat(perftool): export report types
  packages/perftool/lib/compare/process.ts
  packages/perftool/lib/index.ts
Due: eslint --fix, prettier --write

Create semgrep.yml
  .github/workflows/semgrep.yml
Due: yamllint

ci: rm useless release steps
  .github/workflows/release.yml
Due: yamllint

build(perftool): update pkgs
  packages/perftool/package.json
Due: prettier --write --parser json

build(main-suite): update pkgs
  spec/main-suite/package.json
Due: prettier --write --parser json

build: update pkgs
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

fix(perftool): sanitize cache file name
  packages/perftool/lib/cache/index.ts
  packages/perftool/lib/utils/sanitizeFilename.ts
Due: eslint --fix, prettier --write

build: update pkgs
  package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  yamllint: any of: *.{yml,yaml}
