Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

build: add dependabot configuration
  .github/dependabot.yml
Due: yamllint

build: fix dependabot config
  .github/dependabot.yml
Due: yamllint

ci: fix dependabot
  .github/dependabot.yml
Due: yamllint

ci: update dependabot rules, use merge queue
  .github/dependabot.yml
  .github/workflows/checks.yml
  .github/workflows/integration.yml
  .github/workflows/release-mq.yml
Due: yamllint

build: disable pnpm hoisting, update pnpm version
  .npmrc
  package.json
Due: prettier --write --parser json

fix(perftool): cure webpack module resolution with pnpm grouping
  packages/perftool/lib/config/webpack.ts
Due: eslint --fix, prettier --write

docs: code of conduct, contributing
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: prettier --write --parser markdown

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

fix(main-suite): add key prop
  spec/main-suite/src/components/TestComponent.tsx
Due: eslint --fix, prettier --write

fix(perftool): use own babel core, use webpack dev mode on preview mode
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/preview/components/Selector.tsx
  packages/perftool/lib/preview/index.tsx
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

fix(perftool): use absolute positioned panel
  packages/perftool/lib/preview/components/Preview.tsx
  packages/perftool/lib/preview/components/Root.tsx
  packages/perftool/lib/preview/index.tsx
Due: eslint --fix, prettier --write

docs: add license
  LICENSE
Due: none

Bump independent versions [skip ci]
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

ci: update dependabot prs daily
  .github/dependabot.yml
Due: yamllint

feat(perftool): add beforeTest callback support, add request interception
  .eslintrc
  package.json
  packages/perftool/lib/api/external.ts
  packages/perftool/lib/api/intercept.ts
  packages/perftool/lib/client/__spec__/index.test.ts
  packages/perftool/lib/client/__spec__/input.test.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/client/input.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/controller/__spec__/clientScript.test.ts
  packages/perftool/lib/controller/__spec__/controller.test.ts
  packages/perftool/lib/controller/__spec__/executor.test.ts
  packages/perftool/lib/controller/__spec__/planner.test.ts
  packages/perftool/lib/controller/clientScript.ts
  packages/perftool/lib/controller/controller.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/controller/index.ts
  packages/perftool/lib/controller/planner.ts
  packages/perftool/lib/index.ts
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/typings/window.d.ts
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

build: restore previous prettier version
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

fix(perftool): fix intercept types
  packages/perftool/lib/api/intercept.ts
Due: eslint --fix, prettier --write

build: update monorepo deps, set license in package.json
  .eslintrc
  lerna.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

build(perftool): update deps, add license to package
  packages/perftool/LICENSE
  packages/perftool/lib/config/webpack.ts
  packages/perftool/lib/utils/__spec__/waitForIdle.test.ts
  packages/perftool/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --write --parser json, yamllint

build(main-suite): update deps, add license to package
  pnpm-lock.yaml
  spec/main-suite/LICENSE
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

ci: add node 20 to integration testing
  .github/workflows/integration.yml
Due: yamllint

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx}
  prettier --write --parser markdown: any of: *.md
  prettier --write --parser json: any of: *.json
  yamllint: any of: *.{yml,yaml}
