Repository salute-developers/perftool: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --write --parser markdown, prettier --write --parser json, yamllint

.lintstagedrc:

{
    "*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
    ],
    "*.md": [
        "prettier --write --parser markdown"
    ],
    "*.json": [
        "prettier --write --parser json"
    ],
    "*.{yml,yaml}": [
        "yamllint"
    ]
}

build(perftool): update pkgs
  packages/perftool/package.json
Due: prettier --write --parser json

fix(perftool): sanitize cache file name
  packages/perftool/lib/cache/index.ts
  packages/perftool/lib/utils/sanitizeFilename.ts
Due: eslint --fix, prettier --write

Update CHANGELOG.md [skip ci]
  CHANGELOG.md
  packages/perftool/CHANGELOG.md
Due: prettier --write --parser markdown

Bump independent versions [skip ci]
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

build: up pkgs
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

build(perftool): up pkgs
  packages/perftool/package.json
Due: prettier --write --parser json

build(main-suite): up pkgs
  spec/main-suite/package.json
Due: prettier --write --parser json

build: update packages
  package.json
Due: prettier --write --parser json

build(perftool): update packages
  packages/perftool/package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

build(main-suite): update packages
  spec/main-suite/package.json
Due: prettier --write --parser json

feat(perftool): handle promise rejections
  packages/perftool/lib/client/entry.ts
Due: eslint --fix, prettier --write

"Bump independent versions [skip ci]"
  packages/perftool/package.json
  spec/main-suite/package.json
Due: prettier --write --parser json

fix(perftool): fix unhandled rejections handler
  packages/perftool/lib/client/entry.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/controller/executor.ts
  packages/perftool/lib/utils/decorateErrorWithTestParams.ts
Due: eslint --fix, prettier --write

feat(perftool): fix timeouts, add retries for timeouts
  packages/perftool/lib/client/entry.ts
  packages/perftool/lib/client/index.ts
  packages/perftool/lib/client/measurement/runner.ts
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/controller/__spec__/controller.test.ts
  packages/perftool/lib/controller/controller.ts
  packages/perftool/lib/controller/planner.ts
Due: eslint --fix, prettier --write

build(perftool): update packages
  packages/perftool/package.json
Due: prettier --write --parser json

build: update packages
  package.json
  pnpm-lock.yaml
Due: prettier --write --parser json, yamllint

feat(perftool): new metrics
  packages/perftool/lib/config/common.ts
  packages/perftool/lib/config/metric.ts
  packages/perftool/lib/statistics/metrics.ts
Due: eslint --fix, prettier --write

build(perftool): up packages
  package.json
  packages/perftool/package.json
  pnpm-lock.yaml
  spec/main-suite/package.json
Due: prettier --write --parser json, yamllint

ci: expose integration artifacts
  .github/workflows/integration.yml
Due: yamllint

feat(perftool): add verbose, quiet flags, fix intermediate calcs timing
  packages/perftool/lib/bin/compare.ts
  packages/perftool/lib/bin/perftool.ts
  packages/perftool/lib/statistics/index.ts
  packages/perftool/lib/utils/cli.ts
Due: eslint --fix, prettier --write

build: up node
  .github/workflows/integration.yml
  .nvmrc
Due: yamllint
